/*
** Logo
** -----------------------------------------------------------------------------*/

.base {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: auto;

  &[href]:hover {
    opacity: 0.75;
  }
}

.media {
  height: 1em;
  width: 1em;
  margin-right: 0.3em;
  font-size: var(--logo-height);
  transition-property: font-size;
  transition-duration: var(--transition-duration);

  .is-sticky & {
    font-size: 2em;
  }

  * {
    fill: currentColor;
  }
}
