/*
** Copy
** -----------------------------------------------------------------------------*/

@import '@styles/tools/breakpoints.scss';
@import '@styles/tools/spacers.scss';

.base {
  h1, h2, h3, p, ul, ol, table, address, form {
    &:not([class]) {
      @include spacer-relative;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ul, ol {
    padding-left: 1em;

    &:not([class]) li {
      @include spacer-relative;
    }
  }

  a {
    &:not([class]) {
      text-decoration: underline;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  iframe {
    display: block;
    width: 100%;
  }
}
