/*
** Contact Form
** -----------------------------------------------------------------------------*/

@import '@/styles/tools/breakpoints.scss';
@import '@/styles/tools/spacers.scss';

.base {
  display: flex;
  flex-direction: column;

  @include bp(lg) {
    flex-direction: row;
  }
}

.column {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--column-gutter);
}

.columnDark {
  background-color: var(--color-navy);
  color: var(--color-white);
}

.content {
  @include spacer-fixed;
}

.form {
  @include spacer-fixed(2);
}
