/*
** Heading
** -----------------------------------------------------------------------------*/

@import '@/styles/tools/breakpoints.scss';
@import '@/styles/placeholders/heading.scss';
@import '@/styles/placeholders/underline.scss';

.base {
  @extend %heading;

  em, strong {
    font-weight: 800;
  }

  a {
    @extend %underline;
  }

  small {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 400;
    opacity: 0.66;

    &::before {
      content: ' — ';
    }
  }
}

/* Size variants */
@for $i from 1 through 6 {
  .h#{$i} {
    @extend %heading-h#{$i} !optional;
  }
}
