.header {
  // --button-bg-color: var(--color-white);
  // --button-color: var(--color-navy);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--layer-head);
  padding-top: clamp(2rem, 4vw, 4rem);
  padding-bottom: clamp(2rem, 4vw, 4rem);
  // color: var(--color-white);
  transition-property: padding, box-shadow;
  transition-duration: var(--transition-duration);

  &.is-sticky {
    --button-bg-color: var(--color-navy);
    --button-color: var(--color-white);

    position: fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;
    // background-color: rgba($color-white, 0.975);
    // box-shadow: 0 2px 0 rgba($color-navy, 0.1);
    background-color: var(--color-white);
    box-shadow: 0 2px 0 var(--color-navy);
    color: var(--color-navy);
    transform: translateY(-15rem);
  }

  &.is-condensed {
    transform: translateY(0);
    transition-property: padding, box-shadow, transform;
    transition-duration: var(--transition-duration);
  }

  .has-nav-open & {
    --button-bg-color: var(--color-white);
    --button-color: var(--color-navy);

    position: fixed;
    color: var(--color-white);
    transform: translateY(0);

    // @include bp(xl) {
    //   &.is-sticky {
    //     --button-bg-color: var(--color-navy);
    //     --button-color: var(--color-white);

    //     color: var(--color-navy);
    //   }
    // }
  }
}

.headerInner {
  position: relative;
  z-index: var(--layer-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em clamp(1.5em, 6.5vw, 3em);
  font-size: 0.9em;
}

.headerCta {
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}
