/*
** Nav
** -----------------------------------------------------------------------------*/

@import '@/styles/tools/breakpoints.scss';

.base {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3vh 1.5em;

  @include bp(xl) {
    flex-direction: row;
  }
}

.link {
  display: block;
  font-family: var(--font-space);
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2;

  @include bp(lg) {
    font-size: 5.6rem;
  }

  @include bp(xl) {
    font-family: var(--font-family);
    font-size: 1em;
    font-weight: var(--font-weight);
    line-height: var(--font-line-height);
  }

  &:hover {
    opacity: 0.75;
  }
}
