/*
** Project
** -----------------------------------------------------------------------------*/

.base {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.description {
  font-size: 0.9em;
}
