/*
** Testimonial
** -----------------------------------------------------------------------------*/

@import '@/styles/tools/breakpoints.scss';

.base {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: clamp(1em, 3.75vw, 2em);
  width: 100%;

  .flickity-enabled & {
    padding-left: 1rem;
    padding-right: 1rem;

    @include bp(md) {
      padding-right: calc(100% - 81rem);
    }
  }

  &--center {
    align-items: center;
    text-align: center;
  }
}

.title {
  width: 100%;
  quotes: '“' '”';

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}
