/*
** Section
** -----------------------------------------------------------------------------*/

@import '@styles/tools/breakpoints.scss';
@import '@styles/tools/spacers.scss';

.base {
  --section-spacing: #{spacer-clamped(6)};

  position: relative;
  padding-top: var(--section-spacing);
  padding-bottom: var(--section-spacing);
  scroll-margin-top: var(--logo-height);

  &:only-child {
    flex: 1;
  }

  &:first-child {
    &::before {
      content: '';
      display: block;
      height: var(--header-height);
    }
  }
}

.white {
  background-color: var(--color-white);

  & + & {
    margin-top: calc(var(--section-spacing) * -1);
  }
}

.light {
  background-color: var(--color-sand);
}

.dark {
  --button-bg-color: var(--color-orange);
  --button-color: var(--color-navy);

  background-color: var(--color-navy);
  color: var(--color-white);
}
