/*
** Grid
** -----------------------------------------------------------------------------*/

@import '@/styles/tools/breakpoints.scss';

.base {
  display: grid;
  gap: calc(var(--column-gutter) * 0.5);
  width: 100%;
  max-width: var(--content-width);

  @include bp(sm) {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
}

.separated {
  gap: var(--column-gutter);
}

.narrow {
  @include bp(md) {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
}

.rtl {
  margin-left: auto;
  align-content: end;
  direction: rtl;
  text-align: right;
}

.item {
  direction: initial;
  flex: 1;
}
