/*
** Heading
** -----------------------------------------------------------------------------*/

.base {
  font-size: clamp(var(--minFontSize), var(--scaler, 1vw), var(--maxFontSize));
  font-family: var(--font-space);
  font-weight: 700;
  line-height: 1.4;

  em, strong {
    font-weight: 800;
  }

  a {
    text-decoration: underline;

    &:hover {
      opacity: 0.75;
    }
  }
}

.h1 {
  --minFontSize: 3.6rem;
  --maxFontSize: 5.2rem;
  --scaler: 4.4vw;
  line-height: 1.2;
}

.h2 {
  --minFontSize: 2.8rem;
  --maxFontSize: 3.6rem;
  --scaler: 3.2vw;
}

.h3 {
  --minFontSize: 2.6rem;
  --maxFontSize: 3rem;
  --scaler: 2.8vw;
}

.h4 {
  --minFontSize: 2.1rem;
  --maxFontSize: 2.4rem;
  --scaler: 2.25vw;
}
