/*!
** Project: Piotr Kulpinski
** Author: Piotr Kulpinski
** -----------------------------------------------------------------------------*/

@import 'flickity/dist/flickity.min.css';
@import 'variables.scss';
@import 'reset.scss';
@import 'utils/display.scss';
@import 'utils/hide.scss';

body {
  background-color: var(--color-navy);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: calc(var(--font-size) * 0.9);
  font-weight: var(--font-weight);
  line-height: var(--font-line-height);

  @include bp(md) {
    font-size: var(--font-size);
  }

  &.is-loading::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: var(--layer-popup);
    background-image: url('/loader.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
