/* ==========================================================================
   #HEADING
   ========================================================================== */

%heading {
  font-family: var(--font-space);
  font-weight: 700;
  line-height: 1.4;
}

%heading-h1 {
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;

  @include bp(md) {
    font-size: 4.8rem;
  }

  @include bp(xl) {
    font-size: 5.6rem;
  }
}

%heading-h2 {
  font-size: 2.8rem;

  @include bp(md) {
    font-size: 3.2rem;
  }

  @include bp(lg) {
    font-size: 3.6rem;
    font-weight: 800;
  }
}

%heading-h3 {
  font-size: 2.6rem;

  @include bp(md) {
    font-size: 3rem;
  }
}

%heading-h4 {
  font-size: 2.1rem;

  @include bp(md) {
    font-size: 2.4rem;
  }
}
