/*
** Header
** -----------------------------------------------------------------------------*/

@import '@styles/tools/breakpoints.scss';
@import '@styles/tools/spacers.scss';

.base {
  --button-bg-color: var(--color-white);
  --button-color: var(--color-navy);

  position: fixed;
  inset: 0 0 auto;
  z-index: var(--layer-head);
  padding-top: spacer-clamped(1.5);
  padding-bottom: spacer-clamped(1.5);
  color: var(--color-white);
  transition-property: padding, background-color, box-shadow, backdrop-filter;
  transition-duration: var(--transition-duration);
}

.condensed {
  --button-bg-color: var(--color-navy);
  --button-color: var(--color-white);

  padding-top: spacer-fixed(0.75);
  padding-bottom: spacer-fixed(0.75);
  background-color: rgba(248, 244, 242, 0.95);
  box-shadow: 0 2px 0 rgba(35, 35, 45, 0.1);
  color: var(--color-navy);
  backdrop-filter: blur(5px);
}

.open {
  --button-bg-color: var(--color-white);
  --button-color: var(--color-navy);

  position: fixed;
  inset: 0;
  color: var(--color-white);
  transform: translateY(0);

  @include bp(xl) {
    &.is-sticky {
      --button-bg-color: var(--color-navy);
      --button-color: var(--color-white);

      color: var(--color-navy);
    }
  }
}

.inner {
  position: relative;
  z-index: var(--layer-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em clamp(1.5em, 6.5vw, 3em);
  font-size: 0.9em;
}
